# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Editor-specific files
.vscode/
.idea/

# Log files
*.log

# Compiled files
*.so
*.egg-info/
dist/
build/
