<div class="col-md-4 mb-4">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ job["title"] }}</h5>
            <p class="card-text text-muted">Location: {{ job["location"] }}</p>
            
            <p class="card-text text-muted">Experience: {{ job["exp_requirement"] if job["exp_requirement"] else "N/A" }}</p>
            
            <p class="card-text text-muted">Salary: {{ job["currency"] + " " + job["salary"]|string if job["salary"] else "N/A" }}</p>

            <a href="{{ url_for('app.job_details', job_id=job['id']) }}" class="btn btn-primary">Apply</a>

        </div>
    </div>
</div>
